[flake8]

ignore =
    E261 # at least two spaces before inline comment
    E301 # expected 1 blank line, found 0
    E302 # expected 2 blank lines
    E305 # expected 2 blank lines after class
    E306 # expected 1 blank line before a nested def
    E731 # do not assign a lambda expression, use a def
    W391 # blank line at end of file

exclude =
    .git
    .pytest_cache
    __pycache__
    requirements
    tags

# flake8-colors
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${white}%(col)d${reset}: ${red}%(code)s${reset} %(text)s

